header {
  padding: 1.75rem 1.75rem 1.25rem;

  nav {
    padding: 10px 15px;
    box-shadow: 1px 3px 9px 0 #b2b0b0;
    border-radius: 1.25rem;

    .dropdown-menu {
      right: 0;
      left: auto;
    }

    .dropdown-toggle::after {
      vertical-align: 0.7em;
    }
  }
}

.username {
  margin-right: 0.5rem;
}

@media only screen and (min-width: 992px) {
  a.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pointer {
  cursor: pointer;
}
