.modules {
  .card {
      border-radius: 1.25rem;
      opacity: 0.75;
      min-height: 200px;
      box-shadow: 1px 3px 9px 0 #b2b0b0;
      .card-body {
          padding: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          h5.card-title {
              font-size: 1.1rem;
              margin-bottom: 1.25rem;
              font-weight: 500;
              text-transform: capitalize;
              line-height: 30px;
          }
          .btn-pill {
              border-radius: 50rem;
              padding: 0.35rem 2rem;
              font-size: 1rem;
              line-height: 1.5;
              background: #20a8d8;
              border: #20a8d8;
              display: flex;
              align-items: center;
              justify-content: space-between;
              min-width: 150px;
          }
      }
  }
}