.top-button {
    float: right;
}

.add-form-container {
    width: 500px;
}

.add-form-container .form-field {
    width: 100%;
}
  
// .mat-form-field-invalid .mat-hint {
//     margin-top: 20px;
// }