<div class="org">
    <div class="container-fluid wrapper mb-3">
      <div class="row">
        <div class="col-12 p-0 mb-3">
          <span class="keywords" *ngFor="let key of payload | keyvalue">{{key.key | titlecase}}: {{getKeyValueTypes(key)}}
            <mat-icon (click)="clearFields(key)" class="pointer">close</mat-icon>
          </span>
        </div>
      </div>
      <form [formGroup]="orgForm" (ngSubmit)="searchOrganizations()">
        <div class="row values" *ngIf="filterFields.length > 0">
          <div class="col-md-3" *ngFor="let field of filterFields">
            <div *ngIf="field.inputType == 'search'">
              <app-select-search [label]="field.label" [options]="field.options" [dataType]="field.dataType"
                [property]="field.property" (getSelectedValue)="onChangeHandler($event)" [placeholder]="field.placeholder"
                [isMultiple]='field.multiple' [required]='field.required'>
              </app-select-search>
            </div>
            <div *ngIf="field.inputType == 'text'">
              <app-input-field [label]="field.label" [property]="field.property" [dataType]="field.dataType"
                [type]="field.inputType" [editable]="field.editable" [required]='field.required' [placeholder]="field.placeholder" [validators]="[]"
                [invalidError]="" (getSelectedValue)="onChangeHandler($event)">
              </app-input-field>
            </div>
            <div *ngIf="field.inputType == 'date'">
              <app-date-range-picker [label]="field.label" [property]="field.property" [dataType]="field.dataType"
                [required]='field.required' (getSelectedValue)="onChangeHandler($event)"></app-date-range-picker>
            </div>
            <div *ngIf="field.inputType == 'radio'">
              <app-select-search [label]="field.label" [options]="field.options" [dataType]="field.dataType"
                [property]="field.property" (getSelectedValue)="onChangeHandler($event)" [placeholder]="field.placeholder"
                [isMultiple]='field.multiple' [required]='field.required'>
              </app-select-search>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button type="reset" mat-stroked-button color="warn" class="me-3" (click)="resetForm()">Reset</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="!orgForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="container-fluid wrapper mt-3 mb-3" *ngIf="tableData.length > 0">
      <div class="row">
        <div class="col-12">
          <app-table [columnsToDisplay]="columnsToBeDisplayed" [data]="tableData" [file]="'organisations'"></app-table>
        </div>
      </div>
    </div>
  </div>